@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Professor @ViewData["Professor"]</p>

<address>
    <strong>More Information: </strong> <a href="https://www.youtube.com/watch?v=8F5rdmPvc9U&t=19s">Educandowb.com.br</a>
</address>